@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
/* =======================================================
*   Author: Saksham Shekher
*   Only For Educational Purpose
* ======================================================= */
body {
  font-family: Inter;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  color: #616370;
  background: #26272c;
  height: 100%;
  position: relative;
  margin: 2.5rem;
}
